.players-container {
    display: flex;
    justify-content: space-around;
}

.player {
    width: 45%;
    text-align: center;
}

.scrollable-table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

#battle-area {
    position: relative;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    margin: 20px auto;
    background-image: url('../IMAGES/fondo_estadio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pokemon1, #pokemon2 {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0.1s ease-in-out;
}

#pokemon1-lives, #pokemon2-lives, #battle-timer {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

#timer-count {
    color: red;
    font-size: 24px;
}

.flipped {
    transform: scaleX(-1);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}